CMakeLists.txt.user
TODO
export/

*.bat
*.dll
*.swp
*.~lock*
*.zip
*.exe
*.obj

/*.sh
/assets/source/*.bin
/bin/
/build/
/deployment/*-src
/deployment/*.tar.gz
/deployment/out
/src/tags
/src/version.h
/test/
/working/data/*
/working/emptyclip*
/working/maps/test.map.gz
