*.bat
*.dll
*.swp
*.~lock*
*.zip
*.exe
/*.sh
CMakeLists.txt.user
build/
export/
src/tags
src/version.h
working/stats/*.txt
working/emptyclip*
assets/tables/temp
deployment/*.exe
deployment/*-src
deployment/*.tar.gz
deployment/out
TODO
working/maps/test.map
