*.dll
*.swp
*.~lock*
*.zip
*.exe
CMakeLists.txt.user
bin/
build/
export/
src/tags
src/version.h
working/stats/*.txt
assets/tables/temp
deployment/*.exe
deployment/*-src
deployment/*.tar.gz
deployment/out
TODO
working/maps/test.map
